h2 {
  font-family: var(--fonte-padrao);
  line-height: 150%;
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--azul-padrao);
  border-bottom: 1px solid var(--azul-padrao);
  margin-bottom: 1.5rem;
}
